<dl tal:condition="configuration/getShowTitle" class="menu-list">
	<dt tal:condition="blockTitle">${blockTitle}</dt>
	<dt tal:condition="not: blockTitle">${trans:m.event.fo.all-categories,ucf}</dt>
	<dd tal:repeat="row categoriesInfos"><a change:link="document row/category">${structure row/category/getLabelAsHtml}</a> (${row/count})</dd>
</dl>
<ul tal:condition="not: configuration/getShowTitle" class="menu-list">
	<li tal:repeat="row categoriesInfos"><a change:link="document row/category">${structure row/category/getLabelAsHtml}</a> (${row/count})</li>
</ul>