<h2 tal:condition="blockTitle" change:h="">
	${blockTitle}
	<a class="link rss-link" change:link="module event; action ViewFeed; parentref contextdocument/getId; title blockTitle" title="${trans:m.event.fo.website-rss-link,ucf}"><img change:img="front/rss.gif" alt="${trans:m.event.fo.website-rss-link,ucf}" /></a>
</h2>

<tal:block change:include="type 'html'; transmitAll 'true'" module="event" template="Event-Inc-Baseevent-List" />

<ul class="mini-navigation" tal:condition="linkToDetailPage">
	<li>
		<a change:link="tag contextual_website_website_modules_event_baseeventalllist">${trans:m.event.fo.view-complete-list,ucf}</a>
	</li>
</ul>