<p class="normal">${item/getHighlightedText}<span>${trans:m.solrsearch.frontoffice.end-description,ucf,etc}</span></p>
<dl class="inline-list" tal:define="doc item/getDocument">
	<tal:block tal:condition="showTypes">
		<dt>${trans:m.solrsearch.frontoffice.type,ucf}</dt> 
		<dd>
			<tal:block tal:condition="item/hasTypeLabel">${item/getTypeLabel}</tal:block>
			<tal:block tal:condition="not:item/hasTypeLabel">${trans:m.event.document.news.document-name,ucf}</tal:block>
			<span> - </span>
		</dd>
	</tal:block>
	<tal:block tal:condition="showDates">
		<dt>${trans:m.solrsearch.frontoffice.creationdate,ucf}</dt>
		<dd><tal:block tal:replace="datetime:doc/getCreationdate,from=gmt" /><span> - </span></dd>
		<tal:block tal:condition="php: item.getDocument().getCreationdate() < item.getDocument().getModificationdate()">
			<dt>${trans:m.solrsearch.frontoffice.modificationdate,ucf}</dt>
			<dd><tal:block tal:replace="datetime:doc/getModificationdate,from=gmt" /><span> - </span></dd>
		</tal:block>
	</tal:block>
	<dt>${trans:m.event.fo.date,ucf}</dt>
	<dd>
		<tal:block tal:replace="date:doc/getDate,from=gmt" />
		<span tal:condition="doc/getPublishedCategoryCount"> - </span>
	</dd>
	<tal:block tal:condition="doc/getPublishedCategoryCount">
		<dt>${trans:m.event.fo.categories,ucf}</dt>
		<dd tal:repeat="category doc/getPublishedCategoryArray">
			<a change:link="document category">${category/getLabelAsHtml}</a>
			<span tal:condition="not: repeat/category/end">, </span>
		</dd>
	</tal:block>
</dl>