<h3 change:h=""><a change:link="document doc; eventParam[topicId] topicId">${doc/getLabelAsHtml}</a></h3>
<p class="event-infos">
	<tal:block change:date="formatI18n f.date.date.default-date-format; value doc/getDate" />
</p>
<tal:block tal:condition="configuration/getShowVisuals">
	<img tal:condition="doc/getListvisual" change:media="document doc/getListvisual; class 'visual'; format 'modules.event.frontoffice/listvisual'" />
</tal:block>
<div class="event-summary" tal:condition="doc/getSummary" tal:content="doc/getSummaryAsHtml"></div>

<tal:block tal:condition="configuration/getShowCategories">
	<ul tal:condition="doc/getPublishedCategoryCount" class="event-categories">
		<li tal:repeat="category doc/getPublishedCategoryArray"><a change:link="document category">${category/getLabelAsHtml}</a></li>
	</ul>
</tal:block>