<h2 change:h=""><a change:link="document doc; eventParam[topicId] topicId">${doc/getLabelAsHtml}</a></h2>
<tal:block tal:condition="configuration/getShowVisuals">
	<img tal:condition="doc/getListvisual" change:media="document doc/getListvisual; class 'document-visual'; format 'modules.event.frontoffice/listvisual'" />
</tal:block>

<p class="normal event-infos">
	<tal:block tal:condition="configuration/getShowTime" tal:replace="datetime:doc/getDate,from=gmt" />
	<tal:block tal:condition="not:configuration/getShowTime" tal:replace="date:doc/getDate,from=gmt" />
</p>
<div class="normal event-summary" tal:condition="doc/getSummary" tal:content="doc/getSummaryAsHtml"></div>

<tal:block tal:condition="configuration/getShowCategories">
	<dl class="inline-list" tal:condition="doc/getPublishedCategoryCount">
		<dt>${trans:modules.event.fo.categories,ucf}</dt>
		<dd tal:repeat="category doc/getPublishedCategoryArray">
			<a change:link="document category">${category/getLabelAsHtml}</a>
			<span tal:condition="not: repeat/category/end">, </span>
		</dd>
	</dl>
</tal:block>
<div class="cleaner"></div>