<h1 tal:condition="blockTitle" change:h="">
	${blockTitle}
	<a class="link rss-link" change:link="module event; action ViewFeed; parentref contextdocument/getId; title blockTitle" title="${trans:m.event.fo.topic-rss-link,ucf}"><img change:img="front/rss.gif" alt="${trans:m.event.fo.topic-rss-link,ucf}" /></a>
</h1>

<tal:block tal:condition="configuration/getShowDetailsInCurrentTopic" change:include="type 'html'; transmitAll 'true'; topicId contextdocument/getId" module="event" template="Event-Inc-Baseevent-List" />
<tal:block tal:condition="not: configuration/getShowDetailsInCurrentTopic" change:include="type 'html'; transmitAll 'true'" module="event" template="Event-Inc-Baseevent-List" />