<ul class="mini-navigation" tal:condition="php: (navigationPosition == 'top' || navigationPosition == 'both') AND (isOnDetailPage || linkToAll)">
	<li tal:condition="isOnDetailPage">
		<a change:link="tag functional_event_baseevent-list">${trans:m.event.fo.contextual-news-and-events,ucf}</a>
	</li>
	<li tal:condition="linkToAll">
		<a change:link="tag ctx_event_baseeventalllist">${trans:m.event.fo.all-news-and-events,ucf}</a>
	</li>
</ul>

<tal:block change:include="type 'html'; transmitAll 'true'" module="event" template="Event-Inc-News-Detail" />

<ul class="mini-navigation" tal:condition="php: (navigationPosition == 'bottom' || navigationPosition == 'both') AND (isOnDetailPage || linkToAll)">
	<li tal:condition="isOnDetailPage">
		<a change:link="tag functional_event_baseevent-list">${trans:m.event.fo.contextual-news-and-events,ucf}</a>
	</li>
	<li tal:condition="linkToAll">
		<a change:link="tag ctx_event_baseeventalllist">${trans:m.event.fo.all-news-and-events,ucf}</a>
	</li>
</ul>