<ul class="mini-navigation" tal:condition="php: (navigationPosition == 'top' || navigationPosition == 'both') AND (isOnDetailPage || linkToAll)">
	<li tal:condition="isOnDetailPage">
		<a change:link="tag functional_event_baseevent-list">${trans:m.event.fo.contextual-news-and-events,ucf}</a>
	</li>
	<li tal:condition="linkToAll">
		<a change:link="tag ctx_event_baseeventalllist">${trans:m.event.fo.all-news-and-events,ucf}</a>
	</li>
</ul>

<h2 change:h=""><a tal:omit-tag="isOnDetailPage" change:link="document doc">${doc/getLabelAsHtml}</a></h2>
<p class="event-infos">
	<tal:block change:date="formatI18n f.date.date.default-date-format; value doc/getDate" />
</p>

<img tal:condition="doc/getDetailvisual" change:media="document doc/getDetailvisual; class 'visual'; format 'modules.event.frontoffice/detailvisual'"/>

<div class="event-summary" tal:condition="doc/getSummary">${doc/getSummaryAsHtml}</div>

<div class="event-contents" tal:condition="doc/getText">${doc/getTextAsHtml}</div>

<ul tal:condition="doc/getPublishedCategoryCount" class="event-categories">
	<li tal:repeat="category doc/getPublishedCategoryArray"><a change:link="document category">${category/getLabelAsHtml}</a></li>
</ul>

<ul class="mini-navigation" tal:condition="php: (navigationPosition == 'bottom' || navigationPosition == 'both') AND (isOnDetailPage || linkToAll)">
	<li tal:condition="isOnDetailPage">
		<a change:link="tag functional_event_baseevent-list">${trans:m.event.fo.contextual-news-and-events,ucf}</a>
	</li>
	<li tal:condition="linkToAll">
		<a change:link="tag ctx_event_baseeventalllist">${trans:m.event.fo.all-news-and-events,ucf}</a>
	</li>
</ul>