<dl tal:condition="configuration/getShowTitle" class="menu-list">
	<dt tal:condition="blockTitle" class="h-2">${blockTitle}</dt>
	<dt tal:condition="not: blockTitle" class="h-2">${trans:m.event.fo.contextual-categories,ucf}</dt>
	<dd tal:repeat="row categoriesInfos"><a change:link="document row/category; eventParam[topicId] topic/getId">${row/category/getLabelAsHtml}</a> (${row/count})</dd>
</dl>
<ul tal:condition="not: configuration/getShowTitle" class="menu-list">
	<li tal:repeat="row categoriesInfos"><a change:link="document row/category; eventParam[topicId] topic/getId">${row/category/getLabelAsHtml}</a> (${row/count})</li>
</ul>